::ng-deep {
  div.table-content {
    background: var(--p-surface-0) !important;
  }

  .p-accordioncontent-content.ng-trigger-content {
    background: var(--p-surface-0) !important;
  }

  .p-accordionpanel.ng-star-inserted {
    border-color: var(--p-surface-200) !important;
  }

  .p-icon.ng-star-inserted {
    fill: white;
    color: white;

  }
}