<p-toast></p-toast>
<div class="surface-ground min-h-screen">
  <div class="container mx-auto px-2 sm:px-4 py-4">
    <p-card 
      class="relative h-full border-none shadow-3"
      [style]="{
                'background': 'var(--p-surface-50)',
                'border-radius': '16px',
                'border': '2px solid var(--p-surface-200)'
              }">

  <!-- Header -->
  <div class="mb-8">
    <div class="flex justify-between items-center mb-2">
      <h2 class="text-2xl font-bold">Referencias Personales</h2>
      <p-button 
        icon="pi pi-home" 
        label="Ir al Inicio" 
        size="small"
        [outlined]="true"
        styleClass="border-round-xl text-sm font-medium shadow-2"
        routerLink="/app/inicio"
        pTooltip="Ir a la página de inicio"
        tooltipPosition="left">
      </p-button>
    </div>
  </div>
  <div class="flex justify-center mb-4">
    <p-button (click)="showDialog()" label="Agregar Referencias Personales"></p-button>
  </div>
  <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: 'auto', minWidth: '50%' }" [closable]="false" [dismissableMask]="false">
    <ng-template pTemplate="header">
        <div class="flex justify-between items-center w-full">
            <span class="p-dialog-title">Referencias Personales</span>
            <button 
                type="button" 
                pButton 
                pRipple 
                icon="pi pi-times" 
                (click)="visible = false" 
                class="p-dialog-header-close [&_.pi]:!opacity-100 [&_.pi]:!visible [&_i]:!opacity-100 [&_i]:!visible hover:[&_.pi]:!opacity-100 hover:[&_i]:!opacity-100">
            </button>
        </div>
    </ng-template>
    <!-- Form -->

    <!-- Formulario -->
    <form [formGroup]="form" (ngSubmit)="!isLoading && guardar()" class="space-y-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <!-- Tipo de Referencia -->
        <div class="md:col-span-2">
          <app-select-component
            formControlName="tipo_referencia"
            [filter]="true"
            id="tipo_referencia"
            [control]="form.get('tipo_referencia')"
            label="Tipo de Referencia"
            placeholder="Seleccione el tipo de referencia"
            [options]="tiposReferencia"
            [required]="true"
            [loading]="isLoadingDropdowns">
          </app-select-component>
        </div>

        <!-- Nombre -->
        <div>
          <app-input-component
            label="Nombre del Referente"
            id="nombres"
            formControlName="nombres"
            [control]="form.get('nombres')"
            placeholder="Ingrese el nombre"
            [customErrorMessages]="errorMessages.nombres"
            [required]="true"
            [maxlength]="100">
          </app-input-component>
        </div>

        <!-- Apellido -->
        <div>
          <app-input-component
            label="Apellido del Referente"
            id="apellidos"
            formControlName="apellidos"
            [control]="form.get('apellidos')"
            placeholder="Ingrese el apellido"
            [customErrorMessages]="errorMessages.apellidos"
            [required]="true"
            [maxlength]="100">
          </app-input-component>
        </div>

        <!-- Teléfono -->
        <div>
          <app-input-component
            label="Teléfono del Referente"
            id="telefono"
            formControlName="telefono"
            [control]="form.get('telefono')"
            placeholder="Ingrese el teléfono"
            [customErrorMessages]="errorMessages.telefono"
            [required]="false"
            type="tel"
            [maxlength]="15">
          </app-input-component>
        </div>

        <!-- Celular -->
        <div>
          <app-input-component
            label="Celular del Referente"
            id="celular"
            formControlName="celular"
            [control]="form.get('celular')"
            placeholder="Ingrese el celular"
            [customErrorMessages]="errorMessages.celular"
            [required]="true"
            type="tel"
            [maxlength]="15">
          </app-input-component>
        </div>

        <!-- Dirección -->
        <div>
          <app-input-component
            label="Dirección del Referente"
            id="direccion"
            formControlName="direccion"
            [control]="form.get('direccion')"
            placeholder="Ingrese la dirección"
            [customErrorMessages]="errorMessages.direccion"
            [required]="true"
            [maxlength]="150">
          </app-input-component>
        </div>

        <!-- Ocupación -->
        <div>
          <app-input-component
            label="Ocupación del Referente"
            id="ocupacion"
            formControlName="ocupacion"
            [control]="form.get('ocupacion')"
            placeholder="Ingrese la ocupación"
            [customErrorMessages]="errorMessages.ocupacion"
            [required]="true"
            [maxlength]="100">
          </app-input-component>
        </div>

        <!-- Empresa -->
        <div>
          <app-input-component
            label="Empresa del Referente"
            id="empresa"
            formControlName="empresa"
            [control]="form.get('empresa')"
            placeholder="Ingrese la empresa"
            [customErrorMessages]="errorMessages.empresa"
            [required]="true"
            [maxlength]="100">
          </app-input-component>
        </div>

        <!-- Cargo -->
        <div>
          <app-input-component
            label="Cargo del Referente"
            id="cargo"
            formControlName="cargo"
            [control]="form.get('cargo')"
            placeholder="Ingrese el cargo"
            [customErrorMessages]="errorMessages.cargo"
            [required]="true"
            [maxlength]="100">
          </app-input-component>
        </div>

      </div>

      <!-- Botones -->
      <div class="flex flex-col sm:flex-row justify-start gap-4">
        <p-button type="submit" [label]="editingId ? 'Actualizar' : 'Guardar'" 
                  [disabled]="isSubmitting" 
                  [style]="isSubmitting ? {'pointer-events': 'none'} : {}"
                  icon="pi pi-save"></p-button>
        <p-button *ngIf="editingId" type="button" label="Cancelar" severity="secondary" icon="pi pi-times"
          (onClick)="cancelarEdicion()"></p-button>
      </div>
    </form>

  </p-dialog>
  <br>
  <h2 class="text-2xl font-bold mb-2">Registros almacenados</h2>
  <p>
    Aquí se muestran los registros de sus referencias personales. Puede editar o eliminar cada registro según sea
    necesario.
  </p>
  <br>
  <!-- Tabla para pantallas medianas en adelante -->
  <div class="hidden md:block">
    <lib-info-table
      [data]="tableData"
      [columns]="tableColumns"
      [actions]="tableActions"
      [showTableHeader]="true"
      [tableHeaderTitle]="'Referencias Personales'"
      [tableHeaderIcon]="'pi pi-users'"
      [tableHeaderBadge]="'Actualizado'"
      [showRowNumbers]="true"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20]"
      [showGlobalFilter]="true"
      [globalFilterFields]="['nombres', 'apellidos', 'empresa', 'cargo', 'ocupacion']"
      [emptyIcon]="'pi pi-user-plus'"
      [emptyTitle]="'No hay referencias personales'"
      [emptySubtitle]="'Agregue referencias personales para continuar'"
    >
    </lib-info-table>
  </div>

  <!-- Tarjetas para dispositivos móviles -->
  <div class="block md:hidden space-y-4 mt-6">
    <p-card *ngFor="let referencia of referencias" class="bg-white rounded-lg shadow p-4">
      <p><strong>Tipo de Referencia:</strong> {{ getTipoReferenciaLabel(referencia.tipo_referencia) }}</p>
      <p><strong>Nombres:</strong> {{ referencia.nombres }}</p>
      <p><strong>Apellidos:</strong> {{ referencia.apellidos }}</p>
      <p><strong>Teléfono:</strong> {{ referencia.telefono }}</p>
      <p><strong>Celular:</strong> {{ referencia.celular }}</p>
      <p><strong>Dirección:</strong> {{ referencia.direccion }}</p>
      <p><strong>Ocupación:</strong> {{ referencia.ocupacion }}</p>
      <p><strong>Empresa:</strong> {{ referencia.empresa }}</p>
      <p><strong>Cargo:</strong> {{ referencia.cargo }}</p>

      <div class="flex justify-end space-x-2 mt-3">
        <p-button icon="pi pi-pencil" severity="info" size="small" [outlined]="true"
          (onClick)="editarReferencia(referencia)" pTooltip="Editar" tooltipPosition="top">
        </p-button>
        <p-button icon="pi pi-trash" severity="danger" size="small" [outlined]="true"
          (onClick)="eliminarReferencia(referencia.id!)" pTooltip="Eliminar" tooltipPosition="top">
        </p-button>
      </div>
    </p-card>
  </div>
</p-card>
  </div>
</div>

<p-confirmDialog></p-confirmDialog>