<div class="dashboard-layout">
  <lib-drawer-component
    [logoTitle]="logoTitle"
    [homeRoute]="'/app/inicio'"
  [sections]="visibleSections"
    [user]="user"
    [visible]="drawerVisible"
    [modal]="true"
    [showCloseIcon]="true"
    [showThemeToggle]="true"
    (visibleChange)="onDrawerVisibilityChange($event)"
    (menuItemClick)="onMenuItemClick($event)"
    (userProfileClick)="onUserProfileClick()"
    (themeToggle)="onThemeToggle($event)"
    (logout)="onLogout()"
    >
    </lib-drawer-component>


<div class="main-content" [class.drawer-open]="drawerVisible">
    <header class="top-header">
      <div class="header-content">
        <h1 class="page-title">Sistema de Laboratorios</h1>
        <div class="header-actions">
        </div>
      </div>
    </header>
    
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>