<div class="dashboard-layout">
  <lib-drawer-component [logoTitle]="logoTitle" [homeRoute]="'/app/inicio'" [sections]="sections" [user]="user" [visible]="drawerVisible"
    [modal]="true" [showCloseIcon]="true" [showThemeToggle]="true" (visibleChange)="onDrawerVisibilityChange($event)"
    (menuItemClick)="onMenuItemClick($event)" (userProfileClick)="onUserProfileClick($event)"
    (themeToggle)="onThemeToggle($event)" (logout)="onLogout()">
  </lib-drawer-component>


  <div class="main-content" [class.drawer-open]="drawerVisible">

    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>