:host ::ng-deep {
  .p-datatable .p-datatable-tbody > tr {
    transition: background-color 0.15s ease;
  }

  .p-dialog .p-dialog-content {
    padding-bottom: 0;
  }

  .p-inputnumber-input {
    width: 4rem;
    text-align: center;
  }

  .p-togglebutton.p-button-sm {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}
