@font-face {
    font-family: 'primeicons';
    font-display: block;
    src: url('/assets/fonts/primeicons/primeicons.eot');
    src: url('/assets/fonts/primeicons/primeicons.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/primeicons/primeicons.woff2') format('woff2'), url('/assets/fonts/primeicons/primeicons.woff') format('woff'), url('/assets/fonts/primeicons/primeicons.ttf') format('truetype'), url('/assets/fonts/primeicons/primeicons.svg?#primeicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.pi {
    font-family: 'primeicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pi:before {
    --webkit-backface-visibility:hidden;
    backface-visibility: hidden;
}

.pi-fw {
    width: 1.28571429em;
    text-align: center;
}

.pi-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@media (prefers-reduced-motion: reduce) {
  .pi-spin {
    -webkit-animation-delay: -1ms;
  }
}
